:root {
  /* Colours */
  --color-text: #ffffe6;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-arvo: "Arvo";
}
