@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 100px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 50px 50px;
  gap: 50px;
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  cursor: default;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  cursor: default;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.link img {
  width: 60px; 
  height: 60px; 
  transition: transform 0.2s ease;
}

.link img:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
